@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
}

#app {
    width: 100%;
    min-height: 100vh;
    margin: 0 auto;
}

@media (min-width: 768px) {
    #app {
        max-width: 600px;
    }
}
